<% include('./partials/header') %>

  <nav>
    <a href="/flights">All Flights</a>
    <a href="/flights/new">Book a Flight</a>
  
  </nav>
  <h2>Flight Check</h2>
  <% include('./partials/footer') %>